.home-guide .pyr {
    height: 410px;
    overflow: hidden;
}
.expo .expo-items .item .inr .expo-img-content .expo-img-wrap img {
    width: 100%;
    position: absolute;
    left: 0;
    margin-left: 0;
    top: -50%;
}
.image-partners img{
	width: 100%;
    height: 50px;
}
.trade-header{
    padding-bottom: 20px;
}
.trade-show .inr {
    padding: 15px 30px;
}
