.site-header .site-logo-anchor img, .site-header .site-logo-link img, .site-header .custom-logo-link img {
    max-width: 200px;
    max-height: 50px;
    max-width: 100px;
    margin:0 auto;
}
.kc-col-container .kc_single_image img{
	opacity: 0.1;
}
.garden-market .top-bar.top-bar-v4 .nav > li > a, .garden-market .site-header.header-v4 .site-header-cart .cart-contents .amount .price-label {
    color: #444;
}
.top-bar {
    background-color: #ddd !important;
    font-size: 0.875em;
    line-height: 2.714em;
    font-weight: 300;
}
html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.slider {
    width: 90%;
    margin: 100px auto;
}

.slick-slide {
 
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
} 